.nav {
  display: flex;
  position: absolute;
  width: 100%;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 1000;
  user-select: none;
}

.item {
  text-decoration: none;
  font-size: 20px;
  font-family: "vox", sans-serif;
  margin: 20px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 5px 10px;
}

.item:hover {
  padding: 5px 10px;
  background: #30b4c9;
  color: #fff;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.itemActive {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: "vox", sans-serif;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
  color: white;
  background-color: #30b4c9;
}
.itemLogout {
  position: absolute;
  left: 0px;
  text-decoration: none;
  font-size: 20px;
  font-family: "vox", sans-serif;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 5px 10px;
  background: transparent;
  border: #30b4c9 2px solid;
  border-radius: 15px;
  color: black;
}
.itemLogout:hover {
  color: white;
  background: #30b4c9;
  transition: all 0.5s ease;
}
