.title {
  margin-top: 100px;
  margin-bottom: 50px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 35px;
}

.card {
  width: 380px;
  margin: 10px;
  padding: 15px;
  border: 2px black solid;
  border-radius: 5px;
}

.card p {
  margin: 18px 0;
}

.card strong {
  font-weight: bold;
}

.submit {
  margin-top: 110px;
  margin-right: -30px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: black;
  background-color: #3cd8f0;
  border: none;
  border-radius: 15px;
  border: 2px rgba(0, 0, 0, 0) solid;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.submit:hover {
  border: 2px black solid;
}

.submit:active {
  background-color: #30b4c9;
}
.pagar {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: black;
  background-color: #3cd8f0;
  border: none;
  border-radius: 15px;
  border: 2px rgba(0, 0, 0, 0) solid;
}

.pagar:hover {
  border: 2px black solid;
}

.pagar:active {
  background-color: #30b4c9;
}
