@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.container {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.cards {
  display: flex;
  width: 100%;
  min-height: 550px;
  margin: 20px 0;
  flex-direction: column;
  gap: 20px;
}
.paginationBttns {
  display: inline-flex;
  width: 80%;
  list-style: none;
  justify-content: center;
  padding: 0px;
  margin: 15px;
}
.paginationBttns a {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  margin: 2px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid black;
  user-select: none;
}
.paginationActive a {
  background-color: #3cd8f0;
  border-radius: 15px;
  padding: 10px 15px;
}
.hidden {
  visibility: hidden;
}
.message {
  font-size: 25px;
  padding: 50px;
  width: fit-content;
  margin: auto;
  font-style: italic;

  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}
.error {
  font-size: 25px;
  font-style: italic;
  padding: 50px;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
  color: red;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.75);

  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}
@media (max-width: 400px) {
  .paginationBttns a {
    padding: 6px 14px;
  }
}
