.backBtn {
  position: absolute;
  display: flex;
  top: 100px;
  left: 40px;
  width: 40px;
}
.title {
  margin-top: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputDiv {
  display: flex;
  justify-content: center;
}
.inputDivDynamic {
  display: none;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.select {
  width: 350px;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}
.submit {
  margin: 25px;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #3cd8f0;
  border: none;
  border-radius: 15px;
  border: 2px rgba(0, 0, 0, 0) solid;
}
.submit:hover {
  border: 2px black solid;
}

.submit:active {
  background-color: #3cd8f0;
}

.error {
  color: red;
  margin-bottom: 10px;
}
.addBtn {
  margin: 10px;
  border-radius: 15px;
  font-size: 30px;
  padding: 5px 10px;
  border: 2px solid transparent;
  background-color: #3cd8f0;
  cursor: pointer;
}

.addBtn:active {
  background-color: transparent;
  border-color: black;
}
.eraseFieldBtn {
  border-radius: 15px;
  height: 30px;
  width: 30px;
  margin: 0px;
  font-size: 20px;
  border: 2px solid transparent;
  background-color: rgba(255, 110, 110, 0.829);
  cursor: pointer;
}
.eraseFieldBtn:hover {
  background-color: rgba(255, 3, 3, 0.829);
}
@media only screen and (max-width: 800px) {
  .divs {
    flex-direction: column;
  }
  .div {
    margin: 0;
  }
  .customSelect {
    margin-bottom: 160px;
  }
  .title {
    margin-top: 140px;
  }
  .inputDiv {
    flex-direction: column;
  }
  .inputDivDynamic {
    flex-direction: column;
    padding-left: 0px;
  }
  .eraseFieldBtn {
    margin: 10px;
  }
}
